.seven{
    position: relative;
    background-image: url(../img/sect7/meditaciya.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    &::after{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(45deg, rgba(211, 129, 204, 0.7) , rgba(168, 97, 227, .7));
        background: -moz-linear-gradient(45deg, rgba(207, 137, 201, 0.7) , rgba(168, 97, 227, .7));
        background: linear-gradient(45deg, rgba(209, 139, 203, 0.7) , rgb(168, 97, 227, .7));
        z-index: -1;
    }
}